<div class="col-md-8 offset-2 mt-5">
    <div class="card mt-5">
        <div class="card-header">Ajouter un participant</div>
        <div class="card-body">
            <form [formGroup]="participantForm" (ngSubmit)="addParticipant()">
                <label for="">Nom</label>
                <input type="text" class="form-control" formControlName="nom" required>
                <div *ngIf="submitForm && f2.nom.errors">
                   <span class="text-danger" *ngIf="f2.nom.errors['required']">*Nom est obligatoire</span>
                </div>

                <label for="">Prénom</label>
                <input type="text" class="form-control" formControlName="prenom" required>
                <div *ngIf="submitForm && f2.prenom.errors">
                    <span class="text-danger" *ngIf="f2.prenom.errors['required']">*Prénom est obligatoire</span>
                </div>

                <label for="">Email</label>
                <input type="email" class="form-control" formControlName="email" required>
                <div *ngIf="submitForm && f2.email.errors">
                    <span class="text-danger" *ngIf="f2.email.errors['required']">*Email est obligatoire</span>
                </div>

                <label for="">Téléphone</label>
                <input type="text" class="form-control" formControlName="telephone" required>
                <div *ngIf="submitForm && f2.telephone.errors">
                    <span class="text-danger" *ngIf="f2.telephone.errors['required']">*Téléphone est obligatoire</span>
                </div>

                <label for="">Présence</label>
                <select class="form-control" formControlName="presence" required>
                    <option value="">Sélectionnez une option</option>
                    <option value="Présent">Présent</option>
                    <option value="Absent">Absent</option>
                </select>
                <div *ngIf="submitForm && f2.presence.errors">
                    <span class="text-danger" *ngIf="f2.presence.errors['required']">*Présence est obligatoire</span>
                </div>

                <label for="">Événements</label>
<select class="form-control" formControlName="evenementId" required>
    <option value="">Sélectionnez Evenement</option>
    <option *ngFor="let evenement of evenements" [value]="evenement.id">
        {{ evenement.nom }}
    </option>
</select>
<div *ngIf="submitForm && f2.evenementId.errors">
    <span class="text-danger" *ngIf="f2.evenementId.errors['required']">*Veuillez sélectionner au moins un événement</span>
</div>

                <br>
                <button class="btn btn-primary" type="submit">Valider</button>
           </form>
        </div>
    </div>
</div>
