<div class="col-md-8 offset-2 mt-5">
    
    <button class="btn btn-primary" routerLink="/addParticipant">AJOUTER PARTICIPANT</button>

    <h1>Liste des participants</h1>
   
    <label for="">Recherche</label>
    <input type="text" class="form-control"  [(ngModel)]="valueSearch"> 
    <table class="table table-bordered mt-5">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">telephone</th>
            <th scope="col">Présence</th>
            <th scope="col">Evenement</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of participants | filtreParticipant:this.valueSearch; index as i" [ngClass]="{orange:i%2===0,blue: i}">
               
                        <td>{{p.id}}</td>
                        <td>{{p.nom |uppercase}}</td>
                        <td>{{p.prenom |titlecase }}</td>
                        <td>{{p.email}}</td>
                        <td>{{p.telephone}}</td>
                        <td>{{p.presence}}</td>
                        <td>{{ getEvenementNom(p.evenementId)}}</td>
                        <td>
                            <button class="btn btn-danger mr-5" (click)="deleteParticipant(p.id)">Delete</button>
                            <button class="btn btn-primary ml-5" routerLink="/updateParticipant/{{p.id}}">Update</button>
                          </td>
                          
              
            </tr>
            <button class="btn btn-primary mt-5" (click)="generatePDF()">Exporter en PDF</button>

       </tbody>
    </table>
</div>