<div class="col-md-8 offset-2 mt-5">
    
    <button class="btn btn-success">ADD</button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Age</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of users; index as i" [ngClass]="{orange:i%2===0,vert: i}">
               
                        <td>{{p.id}}</td>
                        <td>{{p.nom}}</td>
                        <td>{{p.prenom}}</td>
                        <td>{{p.age}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteUser(p.id)">Delete</button>
                            <button class="btn btn-primary">Update</button>
                        </td>
              
            </tr>
        </tbody>
    </table>
</div>