<div class="col-md-8 offset-md-2 mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h4>Ajouter un événement</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="evenementForm" (ngSubmit)="addEvenement()">
                <div class="mb-3">
                    <label class="form-label fw-bold">Nom</label>
                    <input type="text" class="form-control" formControlName="nom" required>
                    <div *ngIf="submitForm && f2.nom.errors">
                        <span class="text-danger" *ngIf="f2.nom.errors['required']">*Nom est obligatoire</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Date</label>
                    <input type="date" class="form-control" formControlName="date" required>
                    <div *ngIf="submitForm && f2.date.errors">
                        <span class="text-danger" *ngIf="f2.date.errors['required']">*Date est obligatoire</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Lieu</label>
                    <input type="text" class="form-control" formControlName="lieu" required>
                    <div *ngIf="submitForm && f2.lieu.errors">
                        <span class="text-danger" *ngIf="f2.lieu.errors['required']">*Lieu est obligatoire</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Description</label>
                    <textarea class="form-control" formControlName="description" required></textarea>
                    <div *ngIf="submitForm && f2.description.errors">
                        <span class="text-danger" *ngIf="f2.description.errors['required']">*Description est obligatoire</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Organisateur</label>
                    <input type="text" class="form-control" formControlName="organisateur" required>
                    <div *ngIf="submitForm && f2.organisateur.errors">
                        <span class="text-danger" *ngIf="f2.organisateur.errors['required']">*Organisateur est obligatoire</span>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary px-4" type="submit">
                        <i class="fas fa-check"></i> Valider
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
